<div class="menu-container">
    <div class="background-header">
        <img src="../../../../assets/welcome-page-assets/Background.png">
        <div class="header-text">
            <p>John Doe</p>
            <span>Year II • Group XY</span>
        </div>
      </div>
      <div class="menu-container"> 
          <a mat-button>
              <mat-icon>schedule</mat-icon>
              My Schedule
          </a>
          <a mat-button>
            <mat-icon>calendar_today</mat-icon>
            Timetable
        </a>
        <a mat-button>
            <mat-icon>border_color</mat-icon>
            Manage Courses
        </a>
        <a mat-button>
            <mat-icon>filter_list</mat-icon>
            Filters
        </a>
      </div>
</div>