.time-table {
  background-color: #ffffff;
  margin-top: 117px;

  .course-container {
    display: flex;
    flex-flow: row;
    flex-basis: 30% 70%;
  }
}

.sidenav {
  z-index: 10;
}

mat-sidenav {
  width: 300px;
}
